
@import './partials/header-footer.css';
@import './partials/flash-messages.css';
@import './pages/index.css';
@import './pages/dashboard.css';
@import './pages/my-games.css';
@import './pages/bingo-card.css';

:root {
    --purple-light: #e0abff;
    --purple: #c768ff;
    --purple-hover: #a362c9;
    --dark-purple: #64377E;
    --darkest-purple: #3d224d;
    --logo-purple: #2b133d;
    --purple-4: #23142c;
    --purple-see-through: #c868ffc7;
    --gray: #e7d7f0;
    --gray-2: #d8c8e0;
    --header-height: 105px;
    --default-spacing: 20px;
    --footer-height: 30px;
    --standard-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    --red-2: #ff6966;
    --red-3: #e25451;
    --red-4: #631110;

    --boy-light: #cce7ff;
    --boy-medium: #b8deff;
    --boy-dark: #00294d;

    --girl-light: #ffe0ef;
    --girl-medium: #ffcce4;
    --girl-dark: #4d0024;

}

@media screen 
    and (pointer: coarse) {
    /* This code is almost certainly running on a smartphone */
    :root {
        --purple: #d2b3ff;
        --purple-hover: #c19df2;
        --logo-purple: #382a69;
        --gray: #e5e8ff;
        --gray-2: #dbdeff;
    }
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

strong {
    text-decoration: underline;
}

p {
    margin: 0;
}

img {
    user-select: none;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: var(--gray);
}

main {
    width: 100vw;
    height: fit-content;
    min-height: calc(90vh - var(--header-height));
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: var(--default-spacing);
    padding-top: var(--default-spacing);
    padding-bottom: var(--default-spacing);
}

a:hover {
    cursor: pointer;
}

button, .button {
    position: relative;
    top: 0px;
    background-color: var(--purple);
    font-weight: bold;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: var(--darkest-purple);
    text-decoration: none;
    line-height: 21px;
    transition: ease 300ms;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);

    &:hover {
        top: 1px;
        cursor: pointer;
        background-color: var(--purple-hover);
        color: var(--purple-4);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

li {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    color: var(--dark-purple);
}

.unstyled-form {
    padding: 0;
    width: fit-content;
    height: fit-content;
}

.page {
    background-color: white;
    width: 100vw;
    max-width: 600px;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: var(--standard-shadow);

    p {
        font-size: 20px;
        text-align: center;
    }

    img {
        width: 80vw;
    }

}

input, select {
    padding: 10px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 450px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

form a {
    color: var(--dark-purple);
    text-decoration: none;

    a:hover {
        color: var(--darkest-purple);
        text-decoration: underline;
    }
}

.js-warning {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--gray);
    width: 100vw;
    height: 100vh;
    padding: 5vw;
    z-index: 1000;

    p {
        width: 90vw;
    }
}

.access-error {
    gap: 20px;
}

.contact-us {
    .page {
        p {
            text-align: center;
        }
    }
}

.get-cards {
    svg {
        max-width: 400px;
    }
}

.contact-us {
    svg {
        max-width: 250px;
    }
}

.purchase-confirmation {
    img {
        max-width: 200px;
    }
}

.intro-video {
    video {
        width: 100vw;
        max-width: 600px;
    }
}

.error-404 {
    width: 90vw;
    max-width: 600px;
}

.warning-flash {
    animation-name: warning-flash-animation;
    animation-duration: 0.5s;
    animation-timing-function: step-end;
}

@keyframes warning-flash-animation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* #loading {
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {
        color: #000;
    }
    50% {
        color: #555;
    }
    100% {
        color: #000;
    }
} */
