
.bingo-card-main {
    input {
        text-align: center;
    }
}

.playable-card {
    width: 100vw;
    max-width: 500px;
    box-shadow: var(--standard-shadow);
}

.id-warning {
    display: none;
    color: var(--red-3);
    width: 100%;
    text-align: center;
}

.number-square-group:hover {
    cursor: pointer;
}
