
footer {
    background-color: white;
}

header {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    z-index: 100;
}

.header-background {
    width: 100vw;
    background-color: white;
    box-shadow: var(--standard-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-link {
    margin-top: 15px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.logo-link svg {
    height: 100%;
    transition: ease 300ms;
}

.logo-link svg:hover {
    cursor: pointer;
    scale: 1.05;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: end;
    height: 30px;
}

nav a {
    text-decoration: none;
    transition: ease 200ms;
    border-bottom: solid var(--purple) 0px;
}

nav a:hover {
    /* border-top: solid white 5px; */
    border-bottom: solid var(--purple) 4px;
}

footer {
    /* min-height: var(--footer-height); */
    padding: 20px;

    p {
        text-align: center;
    }
}

.mobile-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    summary {
        height: 30px;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    .open-menu {
        display: flex;
    }
    .close-menu {
        display: none;
    }

    &[open] {
        .open-menu {
            display: none;
        }
        .close-menu {
            display: flex;
        }
    }

    .link-stack {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: var(--logo-purple);

        a {
            width: 100%;
            padding: 10px;
            color: white;
            text-decoration: none;
            text-align: center;
            /* transition: ease 200ms; */

            &:hover {
                background-color: var(--purple-4);
            }
        }
    }
}

@media screen and (max-width: 700px) {

    .mobile-nav {
        display: flex;
    }

    .desktop-nav {
        display: none;
    }

}